<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <property>
        <name>mm.tags</name>
        <value>ABC</value>
    </property>
    <property>
        <name>mm.groups</name>
        <value>1</value>
    </property>
    <property>
        <name>mapred.reduce.tasks</name>
        <value>1</value>
    </property>
</configuration>